services:
  nest-demo:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - .:/src
    env_file:
      - .env.development
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: postgres:15
    ports: 
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres-data: {}

networks:
  app-network: {}